spacenet/processed
spacenet/SpaceNet_sam
spacenet/RGB_1.0_meter
cityscale/processed
cityscale/20cities
cityscale/CityScale_sam
cityscale/.nfs0000000003400b2700004ab0
cityscale/.nfs0000000003400b2600004aaf
cityscale/.nfs0000000003400b2500004aae
*.pyc
*.lprof
*.png
*.out
17164247
wandb
segment-anything-road
segm_models
save
sam_road
sam_ckpts
sam
logs
lightning_logs
ekb/*.tif
ekb/X4_old
ekb/X2_old
ekb/RGB_1.0_meter
ekb/ekb2/400
ekb/ekb2/2048
ekb/Base
ekb/400/X1
ekb/400/X2
ekb/400/X4
ekb/2048/X1
ekb/2048/X2
ekb/2048/X4
detectron2
.git
__pycache__
README.md