addict==2.4.0
gdown
hopcroftkarp==1.2.5
imageio
lightning
matplotlib
networkx
numpy
opencv-python
Pillow==10.3.0
python_igraph==0.11.4
pytorch_lightning
PyYAML==6.0.1
rtree==1.2.0
sam
scikit_learn==1.4.2
scipy==1.13.0
Shapely
scikit-image
svgwrite==1.4.3
tcod==16.2.2
torch==2.3.0
torchmetrics==1.3.2
torchvision==0.18.0
wandb
